/* ALLGEMEIN */

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
}

div.content {
    background-color: #352d32;
    color: #fff;
    padding: 10px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
}

div.inner-content {
    background-color: #352d32;
    color: #fff;
    padding: 10px;
    max-width: 100%;
    /*box-shadow: 0px 0px 50px #9b186f;*/
    text-align: left;
    border-radius: 5px;
}

body {
    font-family: "verdana";
    background-color: #786471;
}

img {
    margin: auto;
    display: block;
    width: 100%;
}

h1, h2, h3, h4 {
    text-align: center;
    border-radius: 5px;
}

h1 {
    font-size: 2rem;
    color: #fff;
    background-color: #786471;
    padding: 10px;
    margin: 0px;
}

h2 {
    font-size: 1.5rem;
    color: #fff;
    background-color: #786471;
    padding: 10px;
    margin: 0px;
}

h3 {
    font-size: 1rem;
    color: #352d32;
    background-color: #ea64bd;
    padding: 10px;
    margin: 0px;
}

h4 {
    font-size: 0.75rem;
    background-color: #352d32;
    color: #ea64bd;
    padding: 5px;
    margin: 0px;
}

a {
    color: #ea64bd;
    border-radius: 5px;
}

a:hover {
    color: #9b186f;
}

hr {
    border: 1px solid;
}

td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
}

.td-links {
    background-color: #ea64bd;
    color: #fff;
    font-weight: bold;
}
  
th {
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ea64bd;
    color: #fff;
    border: 1px solid #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.nav-btn {
    background-color: #ea64bd;
    color: #352d32;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    text-decoration: none;
}

.nav-btn:hover {
    color: #ea64bd;
    background-color: #786471;
}

.nav-btn-2:hover {
    color: #ea64bd;
    background-color: #352d32;
}

.nav-parent {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.nav-parent .nav-btn {
    flex: 1;
    text-align: center;
}

/* NAVIGATION */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #ea64bd;
    color: #352d32;
    font-size: 1.5rem;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-decoration: none;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.7;
}

.bottom-1 {
    bottom: 130px;
}

.bottom-2 {
    bottom: 75px;
}

.scroll-to-top:hover {
    opacity: 1;
    background-color: #352d32;
    color: #ea64bd;
}

html {
    scroll-behavior: smooth;
}

.disclaimer {
    font-size: 0.75rem;
    text-align: justify;
    text-align-last: justify;
}

/* MEDIA */

@media only screen and (min-width: 1080px) {
    div.content {
        max-width: 40%;
    }

    .desktop-hide {
        display: none !important;
      }
}

@media only screen and (max-width: 1080px) {
    div.content {
        max-width: 100%;
    }

    body {
        font-size: 2rem;
    }

    .nav-btn {
        font-size: 2rem;
        padding: 10px;
    }

    .scroll-to-top {
        width: 5rem;
        height: 5rem;
        font-size: 3rem;
        align-content: center;
    }

    .bottom-1 {
        bottom: 220px;
    }
    
    .bottom-2 {
        bottom: 120px;
    }

    .mobile-hide {
        display: none !important;
      }
    
    h4 {
    font-size: 2rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h1 {
        font-size: 4rem;
    }

    .disclaimer {
        font-size: 1.5rem;
        text-align-last: left;
    }

    hr {
        border: 3px solid;
    }
}

/* PSSF */

div.content.pssf {
    background-color: #846564;
}

div.pssf div.inner-content {
    background-color: #f8e9df !important;
}

#pssf h2, #pssf h3 {
    background-color: #f7b8b2;
    color: #846564;
}

#pssf h4 {
    background-color: #846564;
    color: #f7b8b2;
}

#pssf a {
    background-color: #f7b8b2;
    color: #846564;
}

#pssf a:hover {
    color: #f7b8b2;
    background-color: #846564;
}

#pssf hr {
    border-color: #f8e9df;
}

#pssf td {
    border: 1px solid #846564;
    color: #846564;
}

#pssf .td-links {
    background-color: #f7b8b2;
    color: #fff;
}

/* PSSC */

div.content.pssc {
    background-color: #000;
}

div.pssc div.inner-content {
    background-color: #ffdfdf !important;
}

#pssc h2, #pssc h3 {
    background-color: #e52320;
    color: #000;
}

#pssc h4 {
    background-color: #000;
    color: #e52320;
}

#pssc a {
    background-color: #e52320;
    color: #000;
}

#pssc a:hover {
    color: #e52320;
    background-color: #000;
}

#pssc td {
    border: 1px solid #000;
    color: #000;
}

#pssc .td-links {
    background-color: #e52320;
    color: #fff;
}

#pssf hr {
    border-color: #ffdfdf;
}