/* ALLGEMEIN */

:root {

    --pssf-hell: #F7E8DE;
    --pssf-rosa: #F6B7B0;
    --pssf-dunkel: #846564;
    --pssf-x-dunkel: #473737;

}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
}

div.content-inverted {
    background-color: var(--pssf-hell);
    color: var(--pssf-dunkel);
    padding: 10px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
}

div.content {
    background-color: var(--pssf-dunkel);
    color: var(--pssf-hell);
    padding: 10px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    border: solid 5px var(--pssf-hell)
}

div.inner-content {
    background-color: var(--pssf-hell);
    color: var(--pssf-dunkel);
    max-width: 100%;
    text-align: left;
    border-radius: 5px;
}

body {
    font-family: "verdana";
    background-color: var(--pssf-dunkel);
}

img {
    margin: auto;
    display: block;
    width: 100%;
}

h1, h2, h3, h4 {
    text-align: center;
    border-radius: 5px;
}

h1 {
    font-size: 2rem;
    color: var(--pssf-rosa);
    background-color: var(--pssf-dunkel);
    padding: 10px;
    margin: 0px;
}

h2 {
    font-size: 1.5rem;
    color: var(--pssf-dunkel);
    background-color: var(--pssf-rosa);
    padding: 10px;
    margin: 0px;
}

h3 {
    font-size: 1rem;
    color: var(--pssf-dunkel);
    background-color: var(--pssf-rosa);
    padding: 10px;
    margin: 0px;
}

h4 {
    font-size: 0.75rem;
    color: var(--pssf-dunkel);
    background-color: var(--pssf-rosa);
    padding: 5px;
    margin: 0px;
}

a {
    color: #ea64bd;
    border-radius: 5px;
}

a:hover {
    color: #9b186f;
}

hr {
    border: 1px solid;
}

td {
    border: 1px solid var(--pssf-rosa);
    padding: 8px;
    text-align: center;
    color: var(--pssf-hell);
}

.td-links {
    background-color: var(--pssf-hell);
    color: var(--pssf-dunkel);
    font-weight: bold;
}
  
th {
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ea64bd;
    color: #fff;
    border: 1px solid #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.nav-btn {
    background-color: var(--pssf-rosa);
    color: var(--pssf-x-dunkel);
    font-weight: bold;
    padding: 5px;
    width: 100%;
    text-decoration: none;
}

.nav-btn:hover {
    color: var(--pssf-hell);
    background-color: var(--pssf-dunkel);
}

.nav-parent {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.nav-parent .nav-btn {
    flex: 1;
    text-align: center;
}

/* NAVIGATION */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--pssf-rosa);
    color: var(--pssf-x-dunkel);
    font-size: 1.5rem;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-decoration: none;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.7;
}

.bottom-1 {
    bottom: 130px;
}

.bottom-2 {
    bottom: 75px;
}

.scroll-to-top:hover {
    opacity: 1;
    background-color: var(--pssf-dunkel);
    color: var(--pssf-hell);
}

html {
    scroll-behavior: smooth;
}

.disclaimer {
    font-size: 0.75rem;
    text-align: justify;
    text-align-last: center;
}

/* MEDIA */

@media only screen and (min-width: 1080px) {
    div.content {
        max-width: 40%;
    }

    .desktop-hide {
        display: none !important;
      }
}

@media only screen and (max-width: 1080px) {
    div.content {
        max-width: 100%;
    }

    body {
        font-size: 2rem;
    }

    .nav-btn {
        font-size: 2rem;
        padding: 10px;
    }

    .scroll-to-top {
        width: 5rem;
        height: 5rem;
        font-size: 3rem;
        align-content: center;
    }

    .bottom-1 {
        bottom: 220px;
    }
    
    .bottom-2 {
        bottom: 120px;
    }

    .mobile-hide {
        display: none !important;
      }
    
    h4 {
        font-size: 2rem;
    }

    h3, .inner-btn {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h1 {
        font-size: 4rem;
    }

    .disclaimer {
        font-size: 1.5rem;
        text-align-last: left;
    }

    hr {
        border: 3px solid;
    }
}

.inner-btn {
    background-color: var(--pssf-hell);
    color: var(--pssf-dunkel);
    font-size: 1rem;
    padding: 10px;
    margin: 0px;
    text-align: center;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    border: solid 3px var(--pssf-rosa);
}

.inner-btn:hover {
    color: var(--pssf-x-dunkel);
    background-color: var(--pssf-rosa);
    border-color: var(--pssf-hell);
}

#impressum .inner-content {
    padding: 10px;
}

.content > div > img {
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.sock-footer:hover {
  cursor: url('../sock.png'), auto;
}

div.content-inverted > h1:hover {
    cursor: url('../historie.png'), auto;
}